.bgpage{
  background: url(/static/media/available_organs.f96f8ea1.svg);
    background-repeat: no-repeat;
    background-position: 100% 99%;
    background-size: 453px;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(1.45px); */
    z-index: 1;
    /* height: 100px; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #e1c1c1;
}
.head{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: transparent;
}
.btn-del{
    background-color: red !important;
    color:white;
    font-size:16px;
}
.heading-text{
    position: absolute;
    top:10%;
    font-size: 30px;
    font-weight: bold;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.rwd-table {
  margin: auto;
  min-width: 800px;
  max-width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 11px rgba(0,0,0,0.5);

}

.rwd-table tr:first-child {
  border-top: none;
  background: #000000;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fca8;
    font-weight: bold;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  /* background-color: #ebf3f9; */
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    /* background-color: #d8e7f3; */
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
/* background: #4B79A1; */
/* background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); */
/* background: linear-gradient(to left, #4B79A1 , #283E51);         */
}
h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}
.box-select{
  background: #e7c6c6;
    padding: 6px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0 11px rgba(0,0,0,0.3);
}
/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/

.event-type-select {
  border: none;
  padding: 10px;
  height: 40px;
  width: auto;
  min-width: 221px;
  overflow: hidden;
  /* margin-left: 3px; */
  /* background: #fff url(img/icon-select.png) no-repeat 90% 50%; */
  /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); */
  transition: 0.2s all;
}

select.event-type-select {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

select.event-type-select:hover {
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
}

.event-type-select select {
  padding: 50px 38px;
  /*width: 130%;*/
  border: none;
  /*box-shadow: none;*/
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.tr-details{
  border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #000000a8;
    font-weight: bold;
}